	<div class="pull-left">
		<a uib-tooltip="Like" ng-click="like(msg._id)"><i class="fa fa-thumbs-up"></i></a>&nbsp;<span ng-show='msg.likes.length > 0'>{{msg.likes.length}}</span> &nbsp; &nbsp; <a uib-tooltip="comment" ng-click="showReplies=!showReplies"><i class="fa fa-comment"></i></a>&nbsp;<span ng-show='msg.comments > 0'>{{msg.comments}}</span>
	</div>

	<br/><br/>
	<div class="media padding-left-10 padding-right-10" ng-repeat="reply in replies" ng-show="showReplies">
		<a href="#" class="pull-left">
			<img alt="image" class="img-circle" src="assets/images/avatar-1.jpg">
		</a>
		<div class="media-body ">
			<strong>{{reply.author.name}}</strong> {{reply.text}}
			<br>

			<div class="pull-left">
				<a uib-tooltip="Like" ng-click="like(reply.id)"><i class="fa fa-thumbs-up"></i></a>&nbsp;<span ng-show='reply.likes > 0'>{{reply.likes.length}}</span> &nbsp; &nbsp; <a uib-tooltip="comment"><i class="fa fa-comment"></i></a>&nbsp;&nbsp;<small class="text-light">{{reply.posted}}</small>
			</div>
		</div>
	</div>
	<post></post>
	<!-- <form role="form" name="Form" id="form" novalidate ng-submit="form.submit(Form)"  ng-show="showReplies" >
		<div class="media padding-left-10 padding-right-10">
				<a href="#" class="pull-left">
					<img alt="image" class="img-circle" src="assets/images/avatar-1.jpg">
				</a>
				<div class="media-body ">
		            <input type="text" placeholder="Write a comment.." id="form-field-14" class="form-control" ng-model="post.text" required ng-en>
				</div>
		</div>
	</form> -->
